* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    display: grid;
    height: 100%;
    grid-template-columns: 10% 10% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "aside main main main"
        "footer footer footer footer"
}








header {
    background-color: blue;
    color: white;
    padding: 20px;
    grid-area: header;

}

nav {
    background-color: lightgreen;
    grid-area: nav;

}


main {
    background-color: lightskyblue;
    color: white;
    grid-area: main;

}

aside {
    background-color: red;
    grid-area: aside;
}

footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;

}


li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display:block;
    margin:auto;
    transition: 0%;
  }

  nav ul li:hover::after {
    width:100%;
  }