* {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    
}

/* */

html {
    height: 100%;
 
}

  

body {
    
    
    display: grid;
    height: 100%;
    grid-template-columns: 10% 10% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer"
}




header {
    background-color: #2a2a2a;
    color: white;
    padding: 0.5em;
    grid-area: header;
    

}

nav {
    
    background-color: #3f3f3f;
    grid-area: nav;
    

}

nav ul li a{
    color:white;
}

main {
    
    background-color: #545454;
    grid-area: main;
    
}

main p{
    color:white;
    padding:1em;

}


aside {
    background-color: red;
    grid-area: aside;
}

footer {
    background-color: #2a2a2a;
    color: white;
    grid-area: footer;

}


li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

/* creating an underline affect when hovering over nav buttons */
nav ul li::after {
    
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.1s;
}

nav ul li:hover::after {
    width: 100%;
}

/* end of underline affect */


/* start of background 
.star {
    width: 0.3em;
    height: 0.3em;
    background-color: red;
    border-radius: 100%;
    animation: shooting_star 4s infinite;
}

@keyframes shooting_star {
    0% {
        transform: translate(100vw, 80vh);
        background-color: red;
        /* Starting position 
    }



    100% {
        transform: translate(30vw, 50vh);
        width: 0.3em;
        height: 0.3em;
        background-color: red;
    }
}

end of background */